<div class="launchpads-container" *ngIf="launchpad">
  <div class="launchpad-card"  (click)="navigateToLaunches(launchpad.id)" >
    <mat-card>
      <div class="card-overlay">
        <mat-card-header>
          <mat-card-title class="title">{{ launchpad.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="launchpad.image" alt="{{ launchpad.location.name }}">
        <mat-card-content class="region">
          <p>{{ launchpad.location.region }}</p>
        </mat-card-content>
        <div class="view-launches">
          <button mat-button color="primary" class="view-launches-btn">View Launches</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
