/* styles.scss */

/* Launchpad card styles */
.launchpad-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .launchpad-card:hover {
    transform: translateY(-5px);
  }
  
  /* Mat-card styles */
  .mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Mat-card-header styles */
  .mat-card-header {
    justify-content: center;
    align-items: center;
  }
  
  /* Mat-card-image styles */
  .mat-card-image {
    max-height: 18 rem; /* Set the desired height for the image */
    object-fit: cover; /* Ensure the image covers the entire space */
  }
  
  /* Mat-card-content styles */
  .mat-card-content {
    text-align: center;
  }
  
  /* Mat-card-actions styles */
  .mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Push the button to the bottom */
  }
  
  /* Button styles */
  .mat-button {
    transition: background-color 0.3s ease;
  }
  
  .mat-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light background color on hover */
  }
  .img {
    max-height: 300px;
    width: auto;
 }