/* src/app/app.component.scss */

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
  
    main {
      flex-grow: 1;
      padding: 20px;
    }
  
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
    }
  }

// Define styles for the app container
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensure the container takes up at least the full viewport height
}

// Define styles for the header
header {
  background-color: #333; // Example background color
  color: #fff; // Example text color
  padding: 20px;
  text-align: center;
}

// Define styles for the main content area
main {
  flex: 1; // Allow the main content area to grow and fill available space
  padding: 20px;
}

// Define styles for the footer
footer {
  background-color: #333; // Example background color
  color: #fff; // Example text color
  padding: 20px;
  text-align: center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}