/* src/app/app.component.scss */

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  main {
    flex-grow: 1;
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }

/* .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

header {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
  text-align: center;
}

main {
  flex: 1; 
  padding: 20px;
}

footer {
  background-color: #333; 
  color: #fff;
  padding: 20px;
  text-align: center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}